body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d0c9c9; /* Soft gray background */
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg register.png'); /* Replace with the actual background image */
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  .register-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5d5d5d; /* Dark gray background */
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 350px;
    text-align: center;
  }

  .register-container h1 {
    margin: 0;
    color: #f2f2f2; /* Light white text */
    font-size: 24px;
    margin-bottom: 20px;
  }

  .input-field {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #81939e; /* Grayish blue background for the inputs */
    color: white;
    font-size: 14px;
    
  }

  .input-field::placeholder {
    color: #d0d7dd; /* Lighter placeholder text */
  }